.md-content article p {
  text-align: justify;
}

article a[href|=http] {text-decoration:underline}

a[href$=".md"] {color: rgba(0,0,0,.75)}

img[alt$=">"] {
  float: right;
  margin: 0 0 1rem 1rem;
}

img[alt$="<"] {
  float: left;
  margin: 0 1rem 1rem 0;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

.revision {
  color: rgba(0,0,0,.5);
  text-align:right;
  font-family:monospace;
  font-size:.75rem;
  font-style: italic;
  margin:2rem 0;
}
